*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    min-height: 100vh;
}

/* NAVBAR */
.head{
    background: #333;
    padding: 10px 20px;
    height: 60px;
    display: flex;
    align-items: center;
    gap: 12px;
}

/* PROFILE IMAGE */
.circle-image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

/* TEXT CONTAINER */
.user-info{
    display: flex;
    flex-direction: column;   /* name above email */
    line-height: 1.2;
}



/* EMAIL */
.name,.email{
    color: #bbb;
    font-size: 11px;
}
#search_input{
    width: 79%;
    height: 30px;
    border-radius: 5px;
    border: 1.5px solid rgb(134, 134, 134);
    box-shadow: 0 0 4px rgba(171, 160, 160, 0.5);
}
.searchbtn{
    width: 9%;
    height: 30px;
    border-radius: 5px;
    border: 1.5px solid rgb(134, 134, 134);
    box-shadow: 0 0 4px rgba(171, 160, 160, 0.5);
}

/* SEARCH CONTAINER */
.search-box{
    position: relative;
    width: 79%;
}

/* SEARCH INPUT */
#search_input{
    width: 100%;
    height: 30px;
    padding-left: 32px;              /* space for icon */
    border-radius: 5px;
    border: 1.5px solid rgb(134, 134, 134);
    box-shadow: 0 0 4px rgba(171, 160, 160, 0.5);
    outline: none;
}

/* SEARCH ICON */
.search-icon{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
    pointer-events: none;
}
#search_input:focus{
    border-color: peru;
    box-shadow: 0 0 6px peru;
}



.topic_box{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}


.topic {
    width: 25%;
    min-width: 220px;
    height: 150px;
    background: white;
    color: black;
    border-radius: 15px;
    border: 4px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition: all 0.3s ease;
}

.topic:hover {
    background: rgb(134, 252, 95);
    transform: scale(1.05);
    cursor: pointer;
}