* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  min-height: 100vh;
  background: rgb(0, 0, 56);
}
.navbar {
  height: 65px;
  background: #020617;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  border-bottom: 1px solid #1e293b;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.profile-img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #38bdf8;
}

.user-info {
  display: flex;
  flex-direction: column;
}

#home_name {
  color: #e5e7eb;
  font-size: 14px;
  font-weight: bold;
}

#home_email {
  color: #94a3b8;
  font-size: 11px;
}


.nav-center {
  position: relative;
  width: 40%;
}

.nav-center input {
  width: 100%;
  height: 34px;
  padding-left: 35px;
  border-radius: 8px;
  border: 1px solid #334155;
  background: #020617;
  color: #e5e7eb;
  outline: none;
}

.nav-center input::placeholder {
  color: #64748b;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  width: 15px;
  transform: translateY(-50%);
  opacity: 0.7;
}


.nav-right {
  display: flex;
  align-items: center;
}

.logout-btn {
  padding: 7px 16px;
  background: #38bdf8;
  border: none;
  border-radius: 8px;
  color: #020617;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.logout-btn:hover {
  background: #0ea5e9;
  transform: scale(1.05);
}

.topic_box {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.topic {
  width: 25%;
  min-width: 220px;
  height: 150px;
  background: white;
  color: black;
  border-radius: 15px;
  border: 4px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 5px;
  transition: all 0.3s ease;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.topic:hover {
  transform: scale(1.05);
  cursor: pointer;
  
}
#q_html {
  background-image: url("./Pictures/html.jpg");
}
#q_css {
  background-image: url("./Pictures/css_pro.jpg");
}
#q_js {
  background-image: url("./Pictures/js.jpg");
}
#q_java {
  background-image: url("./Pictures/java.png");
}
#q_php {
  background-image: url("./Pictures/php.png");
}
#q_c {
  background-image: url("./Pictures/c_pro.jpg");
}
#q_cpp {
  background-image: url("./Pictures/cpp_pro.jpg");
}
#q_py {
  background-image: url("./Pictures/py.png");
}
#q_sql {
  background-image: url("./Pictures/sql.jpg");
}

.q_btn {
  height: 25px;
  width: 100px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 1.8); 
  color: white;
  font-size: 14px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.q_btn:hover {
  transform: scale(1.05);
  cursor: pointer;
  background-color: paleturquoise;
  
}


footer {
  height: 425px;
  background: #0f172a; 
  color: #e5e7eb;
  font-family: Arial, sans-serif;
}

.info {
  height: 50%;
  width: 100%;
  display: flex;
  border-bottom: 1px solid #1e293b;
}

#title_box,
#about {
  width: 50%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#title_box {
  background: #020617;
}

#about {
  background: #020617;
}


footer h3,
footer h4 {
  color: #38bdf8;
  margin-bottom: 10px;
}

/* TEXT */
footer p {
  font-size: 14px;
  line-height: 1.6;
  color: #cbd5f5;
}

.map {
  height: 50%;
  display: flex;
}

#other_1,
#other_2,
#other_3 {
  width: 33.33%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #020617;
  border-right: 1px solid #1e293b;
}


#other_3 {
  border-right: none;
}

#other_1:hover,
#other_2:hover,
#other_3:hover {
  background: #020617;
  transform: translateY(-5px);
  transition: 0.3s ease;
}
